Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2021-03, with the labels that each got.

#67 Define available jenkins configuration parameters
  .github/linters/.markdown-lint.yml
  FAQ.md
  README.md
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
Labels: documentation, enhancement

#72 doc: Update FAQ.md with instructions for building from your own branch
  FAQ.md
Labels: documentation

#73 Gather Success Rating stats for all weekend weekly jobs
  tools/nightly_build_and_test_stats.groovy
Labels: bug

#74 Fix broken markdown link
  FAQ.md
  README.md
Labels: bug, documentation

#68 add support for building Bisheng JDK11 on RISC-V
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: blocked, enhancement, new builds, riscv

#79 stop requiring mingw labels on Openj9 JDK8+11 builds
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: bug, openj9, windows

#81 Allow crossCompile config to specify variant
  README.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
Labels: bug, cross-compile

#75 Auto-generate test jobs
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/regeneration/README.md
Labels: enhancement, testing

#85 Disable external tests as weekly testlist for now
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, testing

#87 Re-enable testList as PR 85 removed it preventing testing
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, tech-debt, testing

#92 Inhibit nightly testing during JDK16 release cycle
  pipelines/build/common/config_regeneration.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: jenkins-pipeline, testing

#98 Re-enable nightly testing since the JDK16 GA have been pushed to github
  pipelines/build/common/config_regeneration.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement, jenkins-pipeline

#99 Remove aarch64Windows from nightly builds
  pipelines/jobs/configurations/jdk16.groovy
  pipelines/jobs/configurations/jdk17.groovy
Labels: aarch64, jenkins-pipeline, windows

#100 Rename jdk16 pipeline config to jdk16u
  README.md
  docs/generateBuildMatrix.sh
  pipelines/jobs/configurations/jdk16u.groovy
  pipelines/jobs/configurations/jdk16u_pipeline_config.groovy
Labels: documentation, enhancement, jenkins-pipeline, refactoring

#91 Document some options for running build steps more quickly in the pipelines
  FAQ.md
Labels: documentation, enhancement

#94 Export code-tools jenkins scripts to Git SCM
  README.md
  tools/code-tools/Jenkinsfile
  tools/code-tools/asmtools.sh
  tools/code-tools/jcov.sh
  tools/code-tools/jtharness.sh
  tools/code-tools/jtreg.sh
  tools/code-tools/sigtest.sh
Labels: code-tools, documentation, enhancement, refactoring

#89 update bisheng source repo to official OpenEuler mirror
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: awaiting-merge-post-release, bisheng, enhancement

#90 Update auto test jobs generation
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: awaiting-merge-post-release, enhancement, generation, jenkins-pipeline, testing

#102 Condense test details into one config file
  docs/UsingOurScripts.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/defaults.json
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/src/test/groovy/RepoHandlerTest.groovy
  pipelines/src/test/groovy/fakeDefaults.json
Labels: documentation, enhancement, jenkins-pipeline, testing

#104 Always pull Docker image
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, docker, jenkins-pipeline

#105 Add NODE_NAME to build description
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement, jenkins-pipeline

#107 Fix syntax error 'done' in mac installer step
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, installer, jenkins-pipeline, macos

#111 Cast SLEEP_TIME instead of parse it
  pipelines/build/regeneration/build_job_generator.groovy
Labels: bug, generation, jenkins-pipeline

#96 Loosen regex on parseVersionOutput for build version
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, jenkins-pipeline

#108 Running context class hudson.FilePath on node master
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, jenkins-pipeline, testing

#40 fix generateBuildMatrix.sh
  docs/generateBuildMatrix.sh
Labels: bug, documentation, generation

#110 Fix RepoHandlerTest
  pipelines/src/test/groovy/RepoHandlerTest.groovy
Labels: bug, jenkins-pipeline, testing

#106 Add dockerRegistry and dockerCredential
  README.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: docker, documentation, enhancement, jenkins-pipeline

#112 Missing sleeptime in constructor
  pipelines/build/common/config_regeneration.groovy
Labels: bug, generation, jenkins-pipeline

#114 Null safety check sleepTime
  pipelines/build/common/config_regeneration.groovy
Labels: bug, generation, jenkins-pipeline, tech-debt
