Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2021-05, with the labels that each got.

#132 Reword PLATFORM_CONFIG_LOCATION desc
  pipelines/build/common/create_job_from_template.groovy
Labels: awaiting-merge-post-release, documentation, jenkins-pipeline

#141 Only enable sanity.openjdk tests to hotspot jdk8 s390
  README.md
  pipelines/build/common/build_base_file.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: documentation, hotspot, jenkins-pipeline, s390x, testing

#145 switch sign job to use eclipse codesign cert
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: blocked, jenkins-pipeline

#136 Improved Slack message for nightly test and build ratings
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, enhancement, testing

#144 add support for building Bisheng JDK8/11 on Linux_x64/aarch64
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u.groovy
Labels: aarch64, bisheng, jenkins-pipeline, x64

#134 Always set user defaults on RepoHandler
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/library/src/common/RepoHandler.groovy
  pipelines/src/test/groovy/RepoHandlerTest.groovy
Labels: bug, generation, jenkins-pipeline

#146 swap installer signing to eclipse foundation
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: installer, jenkins-pipeline

#147 Update arm64 to aarch64
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
Labels: aarch, arm, jenkins-pipeline

#148 Enable bisheng risc-v from jdk11u nightly build through cross-compile
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: bisheng, cross-compile, jenkins-pipeline, testing

#149 Modify buildArgs on Bisheng/RISC-V cross-compilation builds to use correct branch
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: bisheng, buildbreak, cross-compile, jenkins-pipeline

#151 remove mulesoft maven repo
  pipelines/build.gradle
Labels: bug, gradle, jenkins-pipeline

#142 Run tests with PARALLEL=Dynamic
  README.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/defaults.json
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: documentation, generation, jenkins-pipeline, testing
