Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2021-04, with the labels that each got.

#86 Add Smoke Tests
  docs/UsingOurScripts.md
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/defaults.json
Labels: awaiting-merge-post-release, documentation, enhancement, jenkins-pipeline, testing

#113 Define Apple Silicon build job
  pipelines/jobs/configurations/jdk17.groovy
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
Labels: jenkins-pipeline

#118 rename all references of AdoptOpenJDK/ci-jenkins-pipelines to Adoptium
  .github/workflows/comment-bot.yml
  FAQ.md
  README.md
  docs/UsingOurScripts.md
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/prTester/README.md
  pipelines/build/prTester/kick_off_tester.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/defaults.json
  pipelines/jobs/configurations/jdk16u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
  pipelines/library/src/common/RepoHandler.groovy
  pipelines/src/test/groovy/RepoHandlerTest.groovy
  pipelines/src/test/groovy/VersionParsingTest.groovy
Labels: documentation, ghActions, jenkins-pipeline

#120 Remove bisheng from jdk11u nightly build until we have reliable infra to run it on
  pipelines/jobs/configurations/jdk11u.groovy
Labels: bisheng, jenkins-pipeline

#122 Expand comment bot and labellers
  .github/labeler.yml
  .github/workflows/comment-bot.yml
Labels: enhancement, ghActions

#125 Pipeline Triggers instead of triggers
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/jobs/weekly_release_pipeline_job_template.groovy
  tools/code-tools/Jenkinsfile
Labels: bug, jenkins-pipeline

#124 Adds project management to labeller bot
  .github/workflows/labeler.yml
Labels: enhancement, ghActions

#128 update issue template to include new repo locations
  .github/ISSUE_TEMPLATE/not-sure-where-to-raise-an-issue.md
  .github/workflows/labeler.yml
Labels: documentation, ghActions

#129 Revert "Pipeline Triggers instead of triggers" for Jenkinsfile
  tools/code-tools/Jenkinsfile
Labels: buildbreak, code-tools

#130 Run weekend trial Release builds
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk16u.groovy
  pipelines/jobs/configurations/jdk8u.groovy
Labels: jenkins-pipeline

#135 Disable tests during April release week
  pipelines/defaults.json
Labels: jenkins-pipeline, testing

#139 Revert "Run weekend trial Release builds (#130)"
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk16u.groovy
  pipelines/jobs/configurations/jdk8u.groovy
Labels: awaiting-merge-post-release, jenkins-pipeline

#138 Revert "Disable tests during April release week (#135)"
  pipelines/defaults.json
Labels: awaiting-merge-post-release, jenkins-pipeline, testing

#140 Disable jdk8u sparcv9 solaris builds due to no available nodes
  pipelines/jobs/configurations/jdk8u.groovy
Labels: jenkins-pipeline, solaris, sparcv9
