Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2021-06, with the labels that each got.

#154 Add job level security to hide non Temurin builds
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: generation, jenkins-pipeline, testing

#155 Hide pipeline access from the public as they contain non Temurin artefacts
  pipelines/jobs/pipeline_job_template.groovy
Labels: jenkins-pipeline

#157 build exploded image first on macOS to enable EF signing
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, mac

#158 sign jpackageapplauncher for jdk16+
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#150 replace all occurences of openjdk-build with temurin-build
  .github/ISSUE_TEMPLATE/build-issue.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/not-sure-where-to-raise-an-issue.md
  CONTRIBUTING.md
  FAQ.md
  README.md
  SECURITY.md
  docs/ARCHITECTURE.md
  docs/UsingOurScripts.md
  docs/images/structure.svg
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/cross_compiled_version_out.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/prTester/README.md
  pipelines/build/regeneration/README.md
  pipelines/defaults.json
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/src/test/groovy/RepoHandlerTest.groovy
  tools/code-tools/Jenkinsfile
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, cross-compile, documentation, generation, jenkins-pipeline, testing

#159 Re-enable Solaris x64 now that there is a working build machine again
  pipelines/jobs/configurations/jdk8u.groovy
Labels: hotspot, jenkins-pipeline, mac, solaris, x64

#161 macOS: add EF signing support for arm64 builds
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: arm, jenkins-pipeline, mac

#162 Update success rating to get build failures from TRSS
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools

#164 re-enable Solaris Sparc builds for JDK8
  pipelines/jobs/configurations/jdk8u.groovy
Labels: jenkins-pipeline, testing

#153 Add extended buildinfo to metadata
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/library/src/common/MetaData.groovy
Labels: jenkins-pipeline

#163 Openj9 XL spec cleanup
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: generation, jenkins-pipeline, openj9

#166 Allow dragonwell JDK11u builds to occur on any armv8.2-capable system
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: aarch, aarch64, arm, dragonwell/alibaba, jenkins-pipeline, linux

#168 bump JDK tip version to JDK18
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/jobs/configurations/jdk18.groovy
  pipelines/jobs/configurations/jdk18_pipeline_config.groovy
Labels: jenkins-pipeline, testing

#169 fix broken mac arm64 generator
  pipelines/jobs/configurations/jdk17.groovy
  pipelines/jobs/configurations/jdk18.groovy
Labels: aarch, arm, generation, jenkins-pipeline, mac

#170 allow eclipse-temurin-bot to access pipeline status for TRSS
  pipelines/jobs/pipeline_job_template.groovy
Labels: jenkins-pipeline

#171 Make success rating by variant
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools

#172 Fix jtreg build, clean redundant code
  tools/code-tools/Jenkinsfile
  tools/code-tools/jcov.sh
  tools/code-tools/jtharness.sh
  tools/code-tools/jtreg.sh
  tools/code-tools/sigtest.sh
Labels: enhancement

#173 Disable openj9 build for jdk18 until it is supported
  pipelines/jobs/configurations/jdk18.groovy
Labels: jenkins-pipeline, openj9

#174 Allow TRSS to read all build jobs
  pipelines/build/common/create_job_from_template.groovy
Labels: jenkins-pipeline
