Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2021-12, with the labels that each got.

#160 Add bisheng jdk8 configuration on Aarch64Linux to enable kae
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, bisheng

#218 Ensure MacOS signing jenkins context does not overwrite existing BUILD_ARGS
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: testing, jenkins-pipeline

#220 bump JDK tip version to JDK19
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/jobs/configurations/jdk19.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#222 Update tip RISC-V builds to official repository (Replace JDK17 with JDK19)
  pipelines/jobs/configurations/jdk17u.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
Labels: jenkins-pipeline

#223 Ensure numMachinesPerTest is reset each loop
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline
