Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2021-09, with the labels that each got.

#181 Only run linter for pull requests targeting the master branch
  .github/workflows/linter.yml
Labels: ghActions

#187 disable nightlies for Java 17 release
  pipelines/defaults.json
Labels: jenkins-pipeline

#188 Fix incorrect architecture for macOS aarch64
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: aarch, arm, mac, jenkins-pipeline

#186 Remove assign to project workflow
  .github/workflows/labeler.yml
Labels: ghActions

#190 enable headless for alpine builds
  pipelines/jobs/configurations/jdk16u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18_pipeline_config.groovy
Labels: jenkins-pipeline, alpine-linux

#183 bump JDK17 to JDK17u
  pipelines/jobs/configurations/jdk17u.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: jenkins-pipeline

#193 Enable testing on JDK11/RISC-V builds
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#197 Revert "disable nightlies for Java 17 release (#187)"
  pipelines/defaults.json
Labels: testing, jenkins-pipeline
