Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2021-02, with the labels that each got.

#21 Always Archive even if openjdk make fails so we archive failure logs
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement

#29 Move jdk17 nightly from 3:30am->11:30pm
  pipelines/jobs/configurations/jdk17.groovy
Labels: enhancement

#27 Import and update issues templates from build repo
  .github/workflows/ISSUE_TEMPLATE/build-issue.md
  .github/workflows/ISSUE_TEMPLATE/buildbreak.md
  .github/workflows/ISSUE_TEMPLATE/documentation.md
  .github/workflows/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/ISSUE_TEMPLATE/not-sure-where-to-raise-an-issue.md
Labels: documentation, enhancement

#28 update PR tester docs
  pipelines/build/prTester/README.md
  pipelines/build/prTester/images/pr_tester_checks.png
  pipelines/build/prTester/images/pr_tester_downstream.png
Labels: documentation, testing

#35 remove duplicate generator pipelines
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/jdk11_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk12_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk13_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk14_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk15_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk16_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk17_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk8_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk9_regeneration_pipeline.groovy
Labels: bug, generation

#37 linter: add superlint for linting entire repo
  .github/workflows/linter.yml
  CONTRIBUTING.md
  FAQ.md
  README.md
  docs/ARCHITECTURE.md
  docs/UsingOurScripts.md
  pipelines/build/prTester/README.md
  pipelines/build/regeneration/README.md
  pipelines/jobs/configurations/jdk13u_pipeline_config.groovy
  pipelines/src/test/groovy/VersionInfoTest.groovy
Labels: enhancement, testing

#39 Reformat pipeline.json to make it simpler in the UI
  pipelines/jobs/configurations/jdk11u.groovy
Labels: enhancement

#38 Update automated PR comment to link to pipeline tests doc
  .github/workflows/comment-bot.yml
Labels: documentation, testing

#36 squash pipelines down into single file
  FAQ.md
  docs/UsingOurScripts.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/build/openjdk16_pipeline.groovy
  pipelines/build/openjdk17_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement, generation

#23 Disable OpenJ9 XL Specs
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk16.groovy
  pipelines/jobs/configurations/jdk17.groovy
  pipelines/jobs/configurations/jdk8u.groovy
Labels: enhancement

#42 Rename RepoHandler Functions
  docs/UsingOurScripts.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/kick_off_build.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/defaults.json
  pipelines/library/src/common/RepoHandler.groovy
  pipelines/src/test/groovy/RepoHandlerTest.groovy
  pipelines/src/test/groovy/VersionParsingTest.groovy
  pipelines/src/test/groovy/fakeDefaults.json
Labels: awaiting-merge-post-release, enhancement, generation

#61 Lock dragonwell aarch64 builds to alibaba machines due to crash when JVM is run elsewhere
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: aarch, buildbreak, dragonwell/alibaba, infra

#57 Set lightweight checkout in DSLs
  pipelines/build/common/create_job_from_template.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/jobs/weekly_release_pipeline_job_template.groovy
Labels: enhancement

#56 Remove groovy compilation
  .github/workflows/test.yml
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/prTester/README.md
  pipelines/src/main/groovy/BuildEnvStub.groovy
  pipelines/src/main/groovy/JobHelper.groovy
  pipelines/src/main/groovy/Library.groovy
  pipelines/src/main/groovy/NodeHelper.groovy
  pipelines/src/main/groovy/testDoubles/ContextStub.groovy
  pipelines/src/main/groovy/testDoubles/CurrentBuildStub.groovy
  pipelines/src/main/groovy/testDoubles/EnvStub.groovy
  pipelines/src/test/groovy/TestCompilation.groovy
  pipelines/src/test/groovy/VersionParsingTest.groovy
Labels: enhancement, testing

#63 Set User Defaults in RepoHandler
  .github/workflows/linter.yml
  docs/UsingOurScripts.md
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/defaults.json
  pipelines/library/src/common/RepoHandler.groovy
  pipelines/src/test/groovy/RepoHandlerTest.groovy
  pipelines/src/test/groovy/fakeDefaults.json
Labels: bug, important

#65 Pass in prBuilder to config_regeneration
  FAQ.md
  docs/UsingOurScripts.md
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_job_generator.groovy
Labels: bug, documentation, generation, important, testing
