Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2022-02, with the labels that each got.

#226 Create "temurin" variant distinct from "hotspot"
  README.md
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18.groovy
  pipelines/jobs/configurations/jdk18_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, documentation, jenkins-pipeline, hotspot

#241 Adjust output filename for temurin to still be called hotspot
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, hotspot

#242 Adjust definition of filename to fix scoping issue
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#240 Switch visible build pipeline jobs from hotspot to temurin
  pipelines/build/common/create_job_from_template.groovy
Labels: jenkins-pipeline, hotspot

#233 Add AQA_AUTO_GEN option to force generate AQA test jobs
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: testing, openj9, generation, jenkins-pipeline

#246 Update test job regenerated comment to make it clearer.
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, generation, jenkins-pipeline

#245 Map buildConfig.VARIANT temurin to hotspot IMPL
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, hotspot

#249 Remove scmReference for unused hotspot variant from weekly config
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk17u.groovy
  pipelines/jobs/configurations/jdk18.groovy
  pipelines/jobs/configurations/jdk19.groovy
Labels: jenkins-pipeline, hotspot

#247 Disable compilation of kae feature on bishengjdk 8
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, bisheng
