Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2022-10, with the labels that each got.

#421 feat: add buildRef ciRef helperRef for tag/branch from temurin-build ci-jenkins-pipeline and jenkins-helper
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: awaiting-merge-post-release, generation, jenkins-pipeline

#418 feat: remove jdk18 from pr-Test and retire jdk18
  .github/workflows/comment-bot.yml
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
Labels: awaiting-merge-post-release, testing, generation, ghActions, jenkins-pipeline

#424 Disable remote trigger if tests are disabled
  pipelines/build/common/build_base_file.groovy
Labels: testing, jenkins-pipeline

#431 Clean controller node workspace before and after doing a pipeline build
  pipelines/build/common/weekly_release_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
Labels: jenkins-pipeline

#430 fix: add jdk19 into night status check list
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools

#429 fix: auto fix linter Warnings by npm-groovy-lint
  pipelines/build.gradle
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/cross_compiled_version_out.groovy
  pipelines/build/common/kick_off_build.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/common/weekly_release_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/build/prTester/kick_off_tester.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk10u.groovy
  pipelines/jobs/configurations/jdk10u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk12u.groovy
  pipelines/jobs/configurations/jdk12u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk13u.groovy
  pipelines/jobs/configurations/jdk13u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk14u.groovy
  pipelines/jobs/configurations/jdk14u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15u.groovy
  pipelines/jobs/configurations/jdk15u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16u.groovy
  pipelines/jobs/configurations/jdk16u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18u.groovy
  pipelines/jobs/configurations/jdk18u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk9u_pipeline_config.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
  pipelines/src/test/groovy/JenkinsTypeCheckHelperExtension.groovy
  pipelines/src/test/groovy/Library.groovy
  pipelines/src/test/groovy/RepoHandlerTest.groovy
  pipelines/src/test/groovy/TestCompilation.groovy
  pipelines/src/test/groovy/VersionInfoTest.groovy
  pipelines/src/test/groovy/VersionParsingTest.groovy
  tools/code-tools/Jenkinsfile
  tools/reproduce_comparison/Jenkinsfile
  tools/stage_time_analysis.groovy
Labels: gradle, code-tools, testing, generation, cross-compile, jenkins-pipeline

#427 workaround: temp. add codenarc rules exclude warnings in super-linter to not block GH action check
  .github/linters/.groovylintrc.json
  .github/workflows/linter.yml
Labels: code-tools, testing, ghActions

#437 fix: add pre-job cleanup workspace to avoid folder left from old run
  tools/reproduce_comparison/Jenkinsfile
Labels: reproduciblebuild

#456 Typo fix in ARCHITECTURE.md file #448
  docs/ARCHITECTURE.md
Labels: documentation

#458 typo fix
  docs/UsingOurScripts.md
Labels: documentation

#460 fixes to the various broken pipeline relative links
  docs/UsingOurScripts.md
Labels: documentation

#415 Pull riscv64 sources from default repository
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
Labels: cross-compile, jenkins-pipeline

#463 fixed the "build all pass" typo
  docs/diagram.md
Labels: documentation

#441 chore: prep for 2022 Oct CPU release to disable nightly test
  pipelines/defaults.json
Labels: testing, jenkins-pipeline

#470 Fix typo
  CONTRIBUTING.md
Labels: documentation

#468 enhnacement to the ARCHITECTURE.md file
  docs/ARCHITECTURE.md
Labels: documentation

#472 Remove aarch64Windows from pipeline config, to be re-introduced in a prototype pipeline
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18u.groovy
  pipelines/jobs/configurations/jdk18u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
Labels: aarch, jenkins-pipeline

#471 Typofix
  pipelines/build/regeneration/README.md
Labels: documentation, generation, jenkins-pipeline

#446 Removed unsupported platforms in TCK downstream
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#476 Update pipeline job configuration for jdk19 builds to jdk19u
  pipelines/jobs/configurations/jdk19u.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
Labels: jenkins-pipeline

#478 Add missing quotes to build_base_file.groovy excludePlats list strings riscv64_linux
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline, linux
