Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2022-09, with the labels that each got.

#391 Set SDK_RESOURCE=upstream for aqa-tests
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#393 improve: move "node" block to only on the copyartifacts step to reduce resource lock by long running job
  pipelines/build/common/weekly_release_pipeline.groovy
Labels: jenkins-pipeline

#401 Correct copy directory
  pipelines/build/common/weekly_release_pipeline.groovy
Labels: jenkins-pipeline

#394 feat: add default timeout to 1hr for smoketest
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#402 fix: only copy up tar.gz and zip file as needed for comparison
  pipelines/build/common/weekly_release_pipeline.groovy
Labels: testing, jenkins-pipeline

#403 fix: pass down jobParams for timeout on any existing smoke_test jobs
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, x64, jenkins-pipeline, linux, alpine-linux

#407 fix: explicit set nightly status to ignore first return element on jdk8
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools

#396 update: set to use build and platform for reproduce comparision job and remove cleanWs pre-build.
  tools/reproduce_comparison/Jenkinsfile
Labels: testing, mac

#408 Hardcode 1hr for TIME_LIMIT for smoketest
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#414 Disable nightly testing for jdk19 release
  pipelines/defaults.json
Labels: testing, jenkins-pipeline

#405 Remote trigger eclipse compliance job by aqa-test-pipeline
  pipelines/build/common/build_base_file.groovy
Labels: testing, jenkins-pipeline

#416 fix: do not fail job if not matching file and correct archive path
  pipelines/build/common/weekly_release_pipeline.groovy
Labels: generation, x64, jenkins-pipeline, linux
