Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2022-11, with the labels that each got.

#483 Enable nightly test again after 2022 Oct release
  pipelines/defaults.json
Labels: testing, jenkins-pipeline

#491 Fix: comparision job does not take in exclude list and bind to only run x64 machine for now
  tools/reproduce_comparison/Jenkinsfile
Labels: aix, testing, mac, x64, linux

#423 feat: add logic to overwrite defaultsJson's build_branch and pipeline_branch and add helper_ref
  .github/linters/.groovylintrc.json
  docs/UsingOurScripts.md
  docs/diagram.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/kick_off_build.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/build/prTester/kick_off_tester.groovy
  pipelines/build/regeneration/README.md
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/defaults.json
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/src/test/groovy/RepoHandlerTest.groovy
  pipelines/src/test/groovy/fakeDefaults.json
Labels: code-tools, documentation, testing, generation, x64, ghActions, jenkins-pipeline, linux, alpine-linux

#496 test: enable test for build_branch pipeline_branch for build feature
  pipelines/src/test/groovy/RepoHandlerTest.groovy
Labels: testing, jenkins-pipeline

#500 Temporarily disable remote Jck trigger until All Green exclusion task is complete
  pipelines/build/common/build_base_file.groovy
Labels: mac, jenkins-pipeline

#505 Pin actions and restrict permissions
  .github/workflows/comment-bot.yml
  .github/workflows/linter.yml
  .github/workflows/test.yml
Labels: ghActions

#502 Remote trigger right after sdk is available
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#511 Check scmReference and aqaReference
  pipelines/build/openjdk_pipeline.groovy
Labels: testing, jenkins-pipeline

#503 feat: add new dev level tests into weekly
  docs/UsingOurScripts.md
  pipelines/defaults.json
  pipelines/src/test/groovy/RepoHandlerTest.groovy
  pipelines/src/test/groovy/fakeDefaults.json
Labels: documentation, testing, jenkins-pipeline

#513 Limit dev.openjdk to machine labeled with 'sw.tool.docker'
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, mac, jenkins-pipeline

#510 feat: pass ghprbActualCommit to pr-test openjdkX-pipeline
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/prTester/README.md
  pipelines/build/prTester/kick_off_tester.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: documentation, testing, generation, jenkins-pipeline

#515 feat: add function for generate release pipeline
  .github/linters/.groovylintrc.json
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/release_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk11u_release.groovy
  pipelines/jobs/configurations/jdk17u_release.groovy
  pipelines/jobs/configurations/jdk19u_release.groovy
  pipelines/jobs/configurations/jdk8u_release.groovy
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: testing, generation, jenkins-pipeline
