Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2022-05, with the labels that each got.

#285 docs: add markdown diagram of jenkins job and calling scripts
  .github/ISSUE_TEMPLATE/not-sure-where-to-raise-an-issue.md
  FAQ.md
  README.md
  docs/UsingOurScripts.md
  docs/diagram.md
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/build/regeneration/README.md
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/library/src/common/RepoHandler.groovy
  pipelines/src/test/groovy/RepoHandlerTest.groovy
Labels: documentation, generation, jenkins-pipeline

#290 Re-enable tests after release
  pipelines/defaults.json
Labels: testing, jenkins-pipeline

#289 feat: trim string input parameters from build job
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/VersionParsingTest.groovy
Labels: jenkins-pipeline

#291 Revert "feat: trim string input parameters from build job (#289)"
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/VersionParsingTest.groovy
Labels: jenkins-pipeline

#288 Omit MacOS v10.11 from testing in JDK17+ builds
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#295 feat: trim String input from build job
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
  pipelines/src/test/groovy/VersionParsingTest.groovy
Labels: jenkins-pipeline

#298 Update Success Rating Slack message to issue "warning" Slack color alerts if build <95% or test <80%
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing

#297 feat: enable --create-sbom (in temurin-build) by passing new flag into BUILD_ARGS
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#299 fix headless flag for alpine linux and add to pipeline configs
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16u.groovy
  pipelines/jobs/configurations/jdk16u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18u.groovy
  pipelines/jobs/configurations/jdk18u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, linux, alpine-linux

#305 fix: wrong flag
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
Labels: windows, jenkins-pipeline

#308 Revert "feat: enable --create-sbom (in temurin-build) by passing new flag
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: windows, jenkins-pipeline

#306 Add support for Jenkins built-in node
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/kick_off_build.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/build/prTester/kick_off_tester.groovy
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  tools/nightly_build_and_test_stats.groovy
  tools/stage_time_analysis.groovy
Labels: code-tools, testing, generation, jenkins-pipeline

#315 fix: set binary_type to "sbom" for sbom assets
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline
