Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2022-04, with the labels that each got.

#275 Add MacOS/aarch64 builds to JDK11 pipelines
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: aarch, jenkins-pipeline

#277 fix quotes in previous commit
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: jenkins-pipeline

#279 fix #276: remove missleading message when trigger downstream job
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#284 Disable nightly testing in preparation for April release
  pipelines/defaults.json
Labels: testing, jenkins-pipeline

#286 docs: update README.md with output from generateBuildMatrix.sh
  README.md
Labels: documentation, openj9, generation
