Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2022-03, with the labels that each got.

#259 Enable temurin variant for now
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools

#257 add support for adoptium/jdk11u-fast-startup-incubator project
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: x64, jenkins-pipeline, linux

#255 Trigger Test_Job_Auto_Gen to generate AQA test jobs
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, generation, jenkins-pipeline

#264 Ensure correct variant used for querying Temurin build jobs
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, hotspot

#263 Enable sanity.external on JDK11 xlinux
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: testing, jenkins-pipeline, linux

#265 Add SDK_RESOURCE=upstream
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#221 add Alpine JDK8 build
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/jobs/configurations/jdk8u.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#267 Set DYNAMIC_COMPILE=true for smoke tests
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#268 remove downstream create_installer_linux job
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: installer, jenkins-pipeline, linux

#270 switch build from jdk18 to jdk18u
  pipelines/jobs/configurations/jdk18u.groovy
  pipelines/jobs/configurations/jdk18u_pipeline_config.groovy
Labels: jenkins-pipeline

#271 Disable nightly testing in preparation for March release
  pipelines/defaults.json
Labels: testing, jenkins-pipeline

#274 Revert "Disable nightly testing in preparation for March release"
  pipelines/defaults.json
Labels: testing, jenkins-pipeline
