Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2022-01, with the labels that each got.

#224 Retire jdk-16 build pipeline generation
  .github/workflows/linter.yml
  pipelines/build/regeneration/build_pipeline_generator.groovy
Labels: generation, ghActions, jenkins-pipeline

#225 Re-schedule jdk18 & 19 nightly builds to not conflict with 11 & 17
  pipelines/jobs/configurations/jdk18.groovy
  pipelines/jobs/configurations/jdk19.groovy
Labels: jenkins-pipeline

#228 Remove RELEASE_TAG, which has been removed from downstream jobs
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#229 Run tests with specific aqa-tests releases
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: testing, generation, jenkins-pipeline

#231 update parameter type from string to boolean
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#232 Disable nightly testing during January 2022 release cycle
  pipelines/defaults.json
Labels: testing, jenkins-pipeline

#235 Re-enable nightly testing now that January releases have been built
  pipelines/defaults.json
Labels: testing, jenkins-pipeline
