Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2022-06, with the labels that each got.

#314 docs: add final call diagram of "publish" artifacts to GitHub repo step
  docs/diagram.md
Labels: documentation

#317 Clean workspace prior to installer jobs
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: installer, jenkins-pipeline

#287 Don't add whitespace if no existing configure args
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#322 Build jdk-19 AIX on aix720
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
Labels: aix, jenkins-pipeline

#293 AIX: Use xlc16 compiler for JDK11
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: openj9, jenkins-pipeline, hotspot

#324 switch JDK8u windows x64 to build using VS2017
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: windows, x64, jenkins-pipeline

#329 feat: rename metadata file
  README.md
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: documentation, generation, jenkins-pipeline

#331 Ensure archive filename OpenJDKU prefix ends with U
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#330 Archive AQATest tap files to openjdk pipeline and openjdk build pipeline
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#335 fix Visual Studio version labels for Windows
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
Labels: jenkins-pipeline

#337 Move GPG signing to after installer generation so installers are signed too
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: generation, installer, jenkins-pipeline

#336 Fix copyArtifactory failure
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#332 docs: fix wrong info
  README.md
Labels: documentation

#340 fix: add recursive for rm so it won't fail because of folder
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: windows, x64, jenkins-pipeline

#341 Fix build breaks with new GPG signing
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#326 feat: support to copy/archive openjdk_pipeline back to weekly-pipeline
  pipelines/build/common/weekly_release_pipeline.groovy
Labels: jenkins-pipeline

#342 Remove riscv64 from default pipeline configurations
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk19.groovy
  pipelines/jobs/configurations/jdk20.groovy
Labels: cross-compile, jenkins-pipeline

#346 feat: add build env container's image SHA1
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#344 Ensure prTester does not block built-in node
  pipelines/build/prTester/kick_off_tester.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: testing, jenkins-pipeline
