Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2022-12, with the labels that each got.

#518 Enable jck extended.jck parallel on xlinux, windows64 and x86-64_macos
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: windows, jenkins-pipeline, linux

#517 feat: add function for generate release pipeline
  .github/linters/.groovylintrc.json
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/release_pipeline_generator.groovy
  pipelines/defaults.json
  pipelines/jobs/configurations/jdk11u_release.groovy
  pipelines/jobs/configurations/jdk17u_release.groovy
  pipelines/jobs/configurations/jdk19u_release.groovy
  pipelines/jobs/configurations/jdk8u_release.groovy
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: testing, openj9, generation, x64, jenkins-pipeline, linux

#523 Launch Temurin aix remoteJckTrigger for jdk19+ with sw.os.aix.7_2
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
Labels: aix, x64, jenkins-pipeline

#525 update: remove aarch32 jdk8 from release-pipeline default setting
  pipelines/build/regeneration/release_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk8u_release.groovy
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: aarch, generation, jenkins-pipeline

#524 Add automated weekly runs of rivc64Linux
  pipelines/jobs/configurations/jdk20.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
Labels: jenkins-pipeline

#527 feat: add support to pass aqatest tag in release generator
  pipelines/build/regeneration/release_pipeline_generator.groovy
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: testing, generation, jenkins-pipeline

#531 Define additionalTestLabel for each parallel test build
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#530 Build in docker on Linux/ppc64le for supported releases
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: docker, x64, ppc64le, jenkins-pipeline

#533 Update Temurin jck trigger to use PIPELINE_DISPLAY_NAME and optimise test groups submission
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#535 Add jdkVersion to AqaTestPipline job displayName so we can identify weekly jdk versions
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#539 Trigger remote jck with just the jdkUrl
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#542 fix: broken jdk20 pipeline when missing nightly as entity
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
Labels: jenkins-pipeline

#541 docs: update README
  README.md
  docs/generateBuildMatrix.sh
  pipelines/jobs/configurations/jdk16u.groovy
  pipelines/jobs/configurations/jdk18u.groovy
Labels: documentation, generation, jenkins-pipeline

#547 Create dependabot-auto-merge.yml
  .github/workflows/dependabot-auto-merge.yml
Labels: ghActions

#546 For Temurin jck jdk url use direct tarball url rather than forcing zip compression
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, openj9, jenkins-pipeline, linux, hotspot

#545 Switch testing for riscv64Linux to default
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#544 docs: update diagram for prototype and add remotetrigger
  docs/UsingOurScripts.md
  docs/diagram.md
Labels: documentation

#549 docs: update from prototype to evaluation
  README.md
  docs/UsingOurScripts.md
  docs/diagram.md
  pipelines/build/regeneration/build_job_generator.groovy
Labels: documentation, generation, jenkins-pipeline

#552 Delete CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation
