Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2022-08, with the labels that each got.

#376 Re-enable nightly testing after release
  pipelines/defaults.json
Labels: testing, jenkins-pipeline

#378 Ensure listArchives correctly returns archives on Solaris including the -sbom_
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#380 Use Jenkins fileExists and not java File.exists in pipeline script
  pipelines/build/openjdk_pipeline.groovy
Labels: jenkins-pipeline

#367 feat: allow to run a subset of pr_tester
  .github/workflows/comment-bot.yml
  pipelines/build/prTester/README.md
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: awaiting-merge-post-release, documentation, testing, generation, ghActions, jenkins-pipeline

#372 Update jdk8 arm32 repo for openjdk test
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: arm, testing, jenkins-pipeline

#369 fix: enabled --create-sbom on each build we have
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: awaiting-merge-post-release, jenkins-pipeline

#371 fix: missing windows msi build for jre
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: windows, installer, jenkins-pipeline

#370 fix: convert buildNumber to string for jenkins copyArtifacts do not accept int
  pipelines/build/common/weekly_release_pipeline.groovy
Labels: awaiting-merge-post-release, jenkins-pipeline

#381 feat: enable sign and installer for pr-test
  pipelines/jobs/pipeline_job_template.groovy
Labels: testing, generation, installer, jenkins-pipeline

#386 re-enable windows aarch64 pipelines
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18u.groovy
  pipelines/jobs/configurations/jdk18u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
Labels: aarch, testing, mac, windows, jenkins-pipeline

#388 disable testing for Windows ARM until MSFT has made AQAVit ready on that platform
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
Labels: testing, jenkins-pipeline
