Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2022-07, with the labels that each got.

#349 Remove aarch64Alpine from default jdk11u pipeline config due to test hangs reliability
  pipelines/jobs/configurations/jdk11u.groovy
Labels: aarch, testing, jenkins-pipeline

#353 Change (built-in or master) node context to worker
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/import_lib.groovy
  pipelines/build/common/kick_off_build.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/build/prTester/kick_off_tester.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  tools/nightly_build_and_test_stats.groovy
  tools/stage_time_analysis.groovy
Labels: code-tools, testing, generation, jenkins-pipeline

#355 rip out duplicate jenkins helper library
  .gitignore
  docs/ARCHITECTURE.md
  docs/UsingOurScripts.md
  pipelines/build.gradle
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/import_lib.groovy
  pipelines/build/common/kick_off_build.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/build/prTester/README.md
  pipelines/build/prTester/kick_off_tester.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/defaults.json
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/library/src/ParseVersion.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/library/src/common/MetaData.groovy
  pipelines/library/src/common/RepoHandler.groovy
  pipelines/library/src/common/VersionInfo.groovy
  pipelines/src/test/groovy/Library.groovy
  pipelines/src/test/groovy/RepoHandlerTest.groovy
  pipelines/src/test/groovy/fakeDefaults.json
Labels: gradle, documentation, testing, generation, jenkins-pipeline

#354 fix: move copy up from openjdkpipeline artifacts to weekly into closure
  pipelines/build/common/weekly_release_pipeline.groovy
Labels: jenkins-pipeline

#358 feat: add comparision for macos
  tools/reproduce_comparison/Jenkinsfile
  tools/reproduce_comparison/compareMacOS.sh
Labels: mac

#360 Ensure node context workspace is clean prior to gpg signing
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: testing, jenkins-pipeline

#361 fix: remove reference of import_lib.groovy from diagram
  docs/diagram.md
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/regeneration/build_job_generator.groovy
Labels: documentation, generation, jenkins-pipeline

#363 fix: wrong property context, should not be in workflowscript
  pipelines/build/common/weekly_release_pipeline.groovy
Labels: jenkins-pipeline

#364 Correct the excessive failure bias in the Test rating
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing

#362 update: "Build status" and generate script
  README.md
  docs/generateBuildMatrix.sh
Labels: documentation, testing, generation, hotspot

#366 Prevent rating division by zero error if test job run but no testcases run
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing, bisheng
