Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2023-11, with the labels that each got.

#833 Enable nightly testing
  pipelines/defaults.json
Labels: testing, jenkins-pipeline

#834 Build jdk21u HEAD weekly
  pipelines/jobs/configurations/jdk21u.groovy
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, jenkins-pipeline

#837 move aarch64 Alpine to release pipeline
  pipelines/jobs/configurations/jdk21u.groovy
  pipelines/jobs/configurations/jdk21u_evaluation.groovy
  pipelines/jobs/configurations/jdk21u_release.groovy
  pipelines/jobs/configurations/jdk22.groovy
  pipelines/jobs/configurations/jdk22_evaluation.groovy
Labels: aarch, jenkins-pipeline

#740 Add code to support publishing ea builds of JDK21
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#841 Fix typo
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#842 Ensure release pipelines clean the build workspace before build
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: jenkins-pipeline

#843 update macOS labels to pin XCode version
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: mac, jenkins-pipeline

#844 skip active timeout checks for Orka VMs
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#845 Add aarch64AlpineLinux to daily status tool asset mapping
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, aarch
