Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2023-01, with the labels that each got.

#520 feat: add support for evaluation jobs/pipelines
  README.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/common/weekly_release_pipeline.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/README.md
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/build/regeneration/evaluation_pipeline_generator.groovy
  pipelines/build/regeneration/release_pipeline_generator.groovy
  pipelines/defaults.json
  pipelines/jobs/configurations/jdk11u_evaluation.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_evaluation.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19u_evaluation.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_evaluation.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_evaluation.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/jobs/weekly_release_pipeline_job_template.groovy
Labels: aarch, documentation, testing, openj9, generation, windows, jenkins-pipeline, linux, hotspot

#554 fix: wrong variable name and add risc-v into jdk20 evaluation + move aarch64 alpine into evaluation
  pipelines/build/regeneration/evaluation_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk17u.groovy
  pipelines/jobs/configurations/jdk17u_evaluation.groovy
  pipelines/jobs/configurations/jdk19u.groovy
  pipelines/jobs/configurations/jdk19u_evaluation.groovy
  pipelines/jobs/configurations/jdk20.groovy
  pipelines/jobs/configurations/jdk20_evaluation.groovy
  pipelines/jobs/configurations/jdk8u.groovy
  pipelines/jobs/configurations/jdk8u_evaluation.groovy
Labels: generation, jenkins-pipeline

#558 fix: pr-tester missing new field releaseType
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: testing, jenkins-pipeline

#555 update: enable evaluation by set timer
  pipelines/jobs/configurations/jdk11u_evaluation.groovy
  pipelines/jobs/configurations/jdk17u_evaluation.groovy
  pipelines/jobs/configurations/jdk19u_evaluation.groovy
  pipelines/jobs/configurations/jdk20_evaluation.groovy
  pipelines/jobs/configurations/jdk8u_evaluation.groovy
Labels: aarch, jenkins-pipeline, alpine-linux

#560 fix: typo
  pipelines/build/regeneration/release_pipeline_generator.groovy
Labels: generation, jenkins-pipeline

#561 Correct regeneration job patch
  pipelines/build/regeneration/release_pipeline_generator.groovy
Labels: generation, jenkins-pipeline

#562 fix: release pipeline checkout by tag not branch need special handle in jenkins git plugin
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
Labels: generation, x64, jenkins-pipeline, linux, alpine-linux

#566 Add AIX to jdk17&19 release configuration
  pipelines/jobs/configurations/jdk17u_release.groovy
  pipelines/jobs/configurations/jdk19u_release.groovy
Labels: jenkins-pipeline

#565 fix: when no target in evaluation pipeline
  pipelines/jobs/configurations/jdk11u_evaluation.groovy
Labels: jenkins-pipeline

#567 update: enable upload step for evaluation pipeline
  pipelines/build/regeneration/evaluation_pipeline_generator.groovy
Labels: generation, jenkins-pipeline

#569 update: weekly evaluation need to set to Weekly not Nightly to run aqa weekly test
  pipelines/build/regeneration/evaluation_pipeline_generator.groovy
Labels: testing, generation, jenkins-pipeline

#365 fix: docker SHA1 passing down to buildscript()
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, arm, awaiting-merge-post-release, testing, x64, jenkins-pipeline, linux, alpine-linux, Sbom

#572 workaround: to use USE_ADOPT_SHELL_SCRIPTS for Mac build
  pipelines/build/common/build_base_file.groovy
Labels: mac, jenkins-pipeline

#576 fix: to enable USE_ADOPT_SHELL_SCRIPTS with defaults.json in release pipeline
  pipelines/build/common/build_base_file.groovy
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/release_pipeline_generator.groovy
  pipelines/defaults.json
Labels: generation, jenkins-pipeline

#579 fix: typo
  pipelines/build/common/create_job_from_template.groovy
Labels: jenkins-pipeline

#580 update: set default to "true" for USE_ADOPT_SHELL_SCRIPTS in release
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: jenkins-pipeline

#583 Fix docker build error with missing space between args
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, jenkins-pipeline

#584 Fix docker build error with missing space between args (#583)
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, jenkins-pipeline

#581 Merge: from v2023.01 to master
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/release_pipeline_generator.groovy
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: generation, jenkins-pipeline

#587 Pass smokeTest parameter VENDOR_TEST_BRANCHES as variable
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#598 Add check for JDK_OPENJ9_BRANCH
  pipelines/build/openjdk_pipeline.groovy
Labels: jenkins-pipeline

#595 fix: pass down ADOPT_DEFAULT_JSON when create downstream job (#592)
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_job_generator.groovy
Labels: testing, generation, jenkins-pipeline
