Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2023-05, with the labels that each got.

#701 Set jdk8 arm publishName
  pipelines/build/common/build_base_file.groovy
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: arm, jenkins-pipeline

#703 Do not enable dtrace for jdk21 on pLinux and s390xLinux
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
Labels: s390x, jenkins-pipeline, linux

#704 Disable dtrace for jdk17 on Linux ppcle
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: ppc64le, jenkins-pipeline, linux

#702 Add jdk21 to build health report
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools

#705 Ensure jdk8u aarch32 release job gets generated, but not added to release pipeline
  pipelines/build/regeneration/release_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk8u_release.groovy
Labels: aarch, generation, jenkins-pipeline

#707 Update evaluation_pipeline_generator.groovy so it generates "tip" version
  pipelines/build/regeneration/evaluation_pipeline_generator.groovy
Labels: generation, jenkins-pipeline

#709 Enable customized vendorTestRepos
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline
