Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2023-12, with the labels that each got.

#848 Verify Windows and Mac Signing signatures in all executables and installers
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/common/verify_signing.groovy
Labels: installer, jenkins-pipeline

#849 Add new testJobType for release
  docs/UsingOurScripts.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/defaults.json
  pipelines/src/test/groovy/RepoHandlerTest.groovy
  pipelines/src/test/groovy/fakeDefaults.json
Labels: documentation, testing, generation, jenkins-pipeline

#853 Change default activeNodeTimeout from 0 to 1 min
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: testing, mac, jenkins-pipeline

#864 Use dockerhost-rise-ubuntu2204-aarch64-1 host to run in QEMU for riscv64
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
Labels: docker, aarch

#867 Enable headless mode on RISC-V
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
Labels: testing

#869 Enable docker image for RISC-V on 21, 22, 23
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
Labels: docker, cross-compile, linux
