Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2023-08, with the labels that each got.

#760 Ensure reproducible build on a different agent if it is non-container build
  pipelines/build/common/openjdk_build_pipeline.groovy
  tools/reproduce_comparison/Jenkinsfile
Labels: jenkins-pipeline

#759 Improving status propagation code in pipelines
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#768 Enable jdk21 reproducible comparison builds.
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
Labels: jenkins-pipeline

#770 Typo fix
  README.md
  docs/generateBuildMatrix.sh
Labels: documentation, generation

#774 Ensure target is reset before loading a jdk pipeline config file
  pipelines/build/regeneration/build_pipeline_generator.groovy
Labels: generation, jenkins-pipeline

#771 Update Windows Builds for JDK17,11 & 8 - Migrate Win2012 to Win2022
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#775 Enabled head jdk-22 pipeline builds
  pipelines/jobs/configurations/jdk21.groovy
  pipelines/jobs/configurations/jdk21_evaluation.groovy
  pipelines/jobs/configurations/jdk22.groovy
  pipelines/jobs/configurations/jdk22_evaluation.groovy
Labels: generation, jenkins-pipeline

#778 Autogen reproducible compared jobs if non-existing
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#766 Added builder scripts for more code-tools - jcstress, jtharness, sigtest and jcov
  tools/code-tools/Jenkinsfile
  tools/code-tools/asmtools.sh
  tools/code-tools/javatest.sh
  tools/code-tools/jcov.sh
  tools/code-tools/jcstress.sh
  tools/code-tools/jtreg.sh
  tools/code-tools/sigtest.sh
Labels: testing

#783 Fixing code tools
  tools/code-tools/Jenkinsfile
  tools/code-tools/asmtools.sh
  tools/code-tools/jcov.sh
  tools/code-tools/jcstress.sh
  tools/code-tools/jtharness.sh
  tools/code-tools/sigtest.sh
Labels: testing

#782 Pass in parameter COMPARED_JOB_NAME instead of setting default value
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#786 Fixing code tools 2
  tools/code-tools/Jenkinsfile
  tools/code-tools/jcov.sh
Labels: testing

#790 Ensure evaluation pipeline config load resets groovy binding before the load
  pipelines/build/regeneration/evaluation_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk17u_evaluation.groovy
Labels: generation, jenkins-pipeline

#796 jcov failed to build becasue of change of depndencies in its ant build #795
  tools/code-tools/jcov.sh
Labels: testing

#797 asmtools switched to at8 in master and moved older version to at7 #794
  tools/code-tools/asmtools.sh
Labels: testing
