Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2023-09, with the labels that each got.

#801 Reformat tags for hotspot builds to ensure they match upstream tags
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline, hotspot

#802 Add weekly tests to ea pipelines
  pipelines/build/common/build_base_file.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/jobs/weekly_release_pipeline_job_template.groovy
Labels: testing, jenkins-pipeline

#804 Typo fix
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/jobs/weekly_release_pipeline_job_template.groovy
Labels: jenkins-pipeline

#799 Refactor daily status health check to handle triggered builds and verify published assets
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing

#806 Ensure reproduce_comparison Compare stage cleans WS of sbom and other prepare stage artifacts
  tools/reproduce_comparison/Jenkinsfile
Labels: x64, linux, hotspot

#809 Move reproduce_compare job to the end of the build job
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#807 Update reproduce_comparison to return UNSTABLE for differences found
  tools/reproduce_comparison/Jenkinsfile
Labels: aarch, mac

#810 Improve mac signing in pipeline
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: mac, jenkins-pipeline

#811 Provide Windows SDK UCRT DLL paths for jdk17+ pipeline configuration
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
Labels: x64, jenkins-pipeline

#812 Upgrade Windows jdk-21+ to use VS2022
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
Labels: jenkins-pipeline

#813 revert mac signing fix in pipeline
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: mac, jenkins-pipeline

#816 Add jdk21_release.groovy
  pipelines/jobs/configurations/jdk21_release.groovy
Labels: jenkins-pipeline

#817 Add jdk21_release.groovy (#816)
  pipelines/jobs/configurations/jdk21_release.groovy
Labels: jenkins-pipeline

#821 Daily build health stats exclude -ga from upstream tag search
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing

#820 Rename jdk21 pipeline config to jdk21u
  pipelines/jobs/configurations/jdk21u.groovy
  pipelines/jobs/configurations/jdk21u_evaluation.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_release.groovy
Labels: jenkins-pipeline

#822 Sign JMOD Windows exe/dll's using exploded/assemble method
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, windows, x64, jenkins-pipeline
