Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2023-10, with the labels that each got.

#825 Update x64 Mac build jobs to use macos11 label
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: arm, generation, mac, x64, jenkins-pipeline

#827 Disable nightly testing
  pipelines/defaults.json
Labels: testing, jenkins-pipeline

#831 Ensure all Mac & Windows jdk.jpackage jmod executables are correctly signed
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#832 Ensure all Mac & Windows jdk.jpackage jmod executables are correctly signed (#831)
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline
