Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2023-03, with the labels that each got.

#632 Disable Windows x86_32 for JDK20+ and enable Windows aarch64 as evalution build
  pipelines/jobs/configurations/jdk20.groovy
  pipelines/jobs/configurations/jdk20_evaluation.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21.groovy
  pipelines/jobs/configurations/jdk21_evaluation.groovy
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
Labels: aarch, jenkins-pipeline

#633 Remote trigger parameter has to be String
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#638 Remote trigger shouldn't block the AQA tests
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#635 Add upstream job link for remote triggered job
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#641 Run win32 jck tests only on burstable nodes
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, mac, jenkins-pipeline

#643 Create jdk20_release.groovy
  pipelines/jobs/configurations/jdk20_release.groovy
Labels: jenkins-pipeline

#648 Fix for none u releases
  pipelines/build/regeneration/release_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk20_release.groovy
Labels: generation, jenkins-pipeline

#650 Fix none u releases
  pipelines/build/regeneration/release_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk20_release.groovy
Labels: generation, jenkins-pipeline

#611 Do not issue docker pull if imagename contains rhel
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, testing, mac, jenkins-pipeline

#642 Use (local) rhel7_build_image for Linux/s390x builds
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: s390x, jenkins-pipeline

#651 Do not issue docker pull if imagename contains rhel (#611)
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, jenkins-pipeline

#652 Use rhel7_build_image for Linux/s390x builds (#642)
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: docker, s390x, jenkins-pipeline

#649 Propagate downstream build & test results for pipeline.
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: testing, jenkins-pipeline

#653 Propagate downstream build & test results for pipeline.
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: testing, jenkins-pipeline

#654 Remove riscv64Linux from jdk20/21 nightly config, as already in evaluation
  pipelines/jobs/configurations/jdk20.groovy
  pipelines/jobs/configurations/jdk21.groovy
Labels: cross-compile, jenkins-pipeline

#655 enable default testing for windows aarch64
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
Labels: aarch, testing, mac, windows, jenkins-pipeline

#656 Prefix all permissions in generated jenkins jobs
  pipelines/build/common/create_job_from_template.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: testing, generation, jenkins-pipeline

#663 Update jdk20_21 pipelines to run on win2022
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
Labels: jenkins-pipeline

#658 feat: use alpine jdk8 repo for it is testing
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline, alpine-linux

#661 Enable aarch64_linux test parallel
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: aarch, testing, jenkins-pipeline, linux

#665 (v2023.03.01)Enable aarch64_linux test parallel (#661)
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: aarch, testing, jenkins-pipeline, linux

#666 permissions: fix prefix for eclipse-temurin-bot
  pipelines/jobs/pipeline_job_template.groovy
Labels: jenkins-pipeline

#668 Stop passing NODE_LABEL to jobs which don't accept it
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#482 fix: link reference in architecture
  docs/ARCHITECTURE.md
Labels: documentation

#670 feat: disable public visibility for release build job
  pipelines/build/common/create_job_from_template.groovy
Labels: awaiting-merge-post-release, jenkins-pipeline

#667 Change build success to mean non failure
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, awaiting-merge-post-release, testing

#664 enable evaluation builds of 11 and 17 for windows aarch64
  pipelines/jobs/configurations/jdk11u_evaluation.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_evaluation.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: aarch, windows, jenkins-pipeline
