Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2023-06, with the labels that each got.

#712 Fix user ci pipeline setup usage
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/build/regeneration/evaluation_pipeline_generator.groovy
Labels: generation, jenkins-pipeline

#710 OpenJ9: Remove explicit jitserver enable option
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, linux

#720 Add jdk22 pipeline config
  pipelines/jobs/configurations/jdk22.groovy
  pipelines/jobs/configurations/jdk22_evaluation.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
Labels: jenkins-pipeline

#714 Enable nightly build with reproducible comparison
  docs/UsingOurScripts.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/build/regeneration/evaluation_pipeline_generator.groovy
  pipelines/defaults.json
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/jobs/release_pipeline_job_template.groovy
  pipelines/src/test/groovy/RepoHandlerTest.groovy
  pipelines/src/test/groovy/fakeDefaults.json
  tools/reproduce_comparison/Jenkinsfile
Labels: documentation, testing, generation, jenkins-pipeline

#724 Fix enableReproducibleCompare setting
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
Labels: generation, jenkins-pipeline

#725 Cease building Temurin JDK8 nightlies on zLinux
  pipelines/jobs/configurations/jdk8u.groovy
Labels: jenkins-pipeline

#639 Update: change weekly pipeline releaseType from "Release" to "Weekly"
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/common/weekly_release_pipeline.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/jobs/release_pipeline_job_template.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: generation, jenkins-pipeline

#731 Disable reproducible comparision for pr-tester and release per platform
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  tools/reproduce_comparison/Jenkinsfile
Labels: testing, generation, jenkins-pipeline

#733 Disable test and installer jobs for reproducible compare build
  tools/reproduce_comparison/Jenkinsfile
Labels: testing, installer

#736 Disable JDK21 nightlies, set Weekly builds to not publish
  pipelines/build/common/build_base_file.groovy
  pipelines/jobs/configurations/jdk21.groovy
  pipelines/jobs/configurations/jdk21_evaluation.groovy
Labels: jenkins-pipeline

#738 Fixup isWeekly check
  pipelines/build/common/build_base_file.groovy
Labels: testing, jenkins-pipeline

#742 Enalbe jdk17 aarch64 reproducible comparison build
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: aarch, jenkins-pipeline
