Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2023-02, with the labels that each got.

#604 Pass AdoptDefaults and buildConfig CI/BUILD_REF overrides to RepoHandler
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#608 Enable pipeline builds with user specified ci & builld scripts
  pipelines/build/common/build_base_file.groovy
Labels: testing, jenkins-pipeline

#613 Enable kick_off_build to load User remoteConfigs ci-jenkins-pipelines when requested
  pipelines/build/common/kick_off_build.groovy
Labels: generation, jenkins-pipeline

#617 Add FAQ comment on building from your own branch
  FAQ.md
Labels: documentation

#605 Remote trigger with SETUP_JCK_RUN parameter
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#621 Create jdk-21 pipeline configs
  pipelines/jobs/configurations/jdk21.groovy
  pipelines/jobs/configurations/jdk21_evaluation.groovy
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
Labels: jenkins-pipeline

#623 Change references of ci.adoptopenjdk.net to ci.adoptium.net
  CONTRIBUTING.md
  FAQ.md
  README.md
  docs/ARCHITECTURE.md
  docs/UsingOurScripts.md
  docs/generateBuildMatrix.sh
  docs/generateTestMatrix.sh
  docs/images/structure.svg
  pipelines/build/prTester/README.md
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/README.md
  pipelines/defaults.json
  pipelines/src/test/groovy/RepoHandlerTest.groovy
  tools/reproduce_comparison/Jenkinsfile
Labels: documentation, testing, generation, jenkins-pipeline

#627 Move JDK20/21 on Linux/x64 to CentOS7 instead of CentOS6
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
Labels: x64, jenkins-pipeline

#625 Update: use jenkins built-in variable to get job url
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools

#628 WIP: Retire nightly jdk19 builds and replace with jdk20
  .github/workflows/comment-bot.yml
  README.md
  docs/generateBuildMatrix.sh
  pipelines/build/common/build_base_file.groovy
  pipelines/build/prTester/README.md
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_job_generator.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/build/regeneration/evaluation_pipeline_generator.groovy
  pipelines/build/regeneration/release_pipeline_generator.groovy
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, documentation, testing, generation, ghActions, jenkins-pipeline

#631 Disabling jdk19 scheduled build jobs
  pipelines/jobs/configurations/jdk19u.groovy
Labels: jenkins-pipeline
