Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2023-04, with the labels that each got.

#671 Add configuration for jdk17u on riscv64
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#676 migrate win aarch64 jobs to win22 machine
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
Labels: aarch, mac, jenkins-pipeline

#678 Create jdk20u pipeline config from jdk20
  docs/generateBuildMatrix.sh
  pipelines/jobs/configurations/jdk20u.groovy
  pipelines/jobs/configurations/jdk20u_evaluation.groovy
  pipelines/jobs/configurations/jdk20u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20u_release.groovy
Labels: documentation, jenkins-pipeline

#685 add code freeze bot
  .github/workflows/code-freeze.yml
Labels: ghActions

#622 AIX: Update JDK8, 11, 17 to build and test on 7.2
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#688 Allow eclipse-temurin-compliance-bot read access to release build job artifacts
  pipelines/build/common/create_job_from_template.groovy
Labels: jenkins-pipeline

#689 Allow eclipse-temurin-compliance-bot read access to release build job artifacts
  pipelines/build/common/create_job_from_template.groovy
Labels: jenkins-pipeline

#681 Block aqa and tck tests if smoke tests fail or are unstable.
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#687 Copy downstream test jobs' Tap files no matter test jobs' result
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#691 Cherry pick 4d6f5e2 62da3c0
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#696 Add Jtreg 7.2
  tools/code-tools/jtreg.sh
Labels: testing
