Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2024-10, with the labels that each got.

#1119 Create jdk23u pipeline config form jdk23
  pipelines/jobs/configurations/jdk23u.groovy
  pipelines/jobs/configurations/jdk23u_evaluation.groovy
  pipelines/jobs/configurations/jdk23u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23u_release.groovy
Labels: jenkins-pipeline

#1100 jdk21+ promote windows aarch64 to release pipeline
  pipelines/jobs/configurations/jdk21u.groovy
  pipelines/jobs/configurations/jdk21u_evaluation.groovy
  pipelines/jobs/configurations/jdk21u_release.groovy
  pipelines/jobs/configurations/jdk22u.groovy
  pipelines/jobs/configurations/jdk22u_evaluation.groovy
  pipelines/jobs/configurations/jdk22u_release.groovy
  pipelines/jobs/configurations/jdk23u.groovy
  pipelines/jobs/configurations/jdk23u_evaluation.groovy
  pipelines/jobs/configurations/jdk23u_release.groovy
  pipelines/jobs/configurations/jdk24.groovy
  pipelines/jobs/configurations/jdk24_evaluation.groovy
  pipelines/jobs/configurations/jdk24_release.groovy
Labels: aarch, windows, jenkins-pipeline

#1121 Schedule jdk23u weekly builds as Oracle managed version
  pipelines/jobs/configurations/jdk23u.groovy
Labels: testing, jenkins-pipeline

#1122 Add aarch64Windows arch to filename mapping to daily slack status tool
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, aarch, windows

#1124 Add dev.system for aarch64_mac for jdk21+
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk24_pipeline_config.groovy
Labels: aarch, mac, jenkins-pipeline

#1125 remove JDK22 from release pipeline generator
  pipelines/build/regeneration/release_pipeline_generator.groovy
Labels: generation, jenkins-pipeline

#1127 jdk23+ update version GA tag check should be using updates repo
  pipelines/build/openjdk_pipeline.groovy
Labels: jenkins-pipeline

#1128 jdk23+ update version GA tag check should be using updates repo (#1127)
  pipelines/build/openjdk_pipeline.groovy
Labels: jenkins-pipeline

#1129 win_aarch64 unskip remove TCK trigger
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: aarch, jenkins-pipeline

#1113 Add reproducibility percentage to daily build summary
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing, generation
