Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2024-12, with the labels that each got.

#1153 For jdk8u aarch32|alpine beta triggers check for existance of a specific asset
  pipelines/build/common/trigger_beta_build.groovy
Labels: aarch, arm, x64, jenkins-pipeline, linux, alpine-linux

#1155 windows: switch to running builds in docker containers
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk24_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: docker, testing, mac, windows, x64, jenkins-pipeline

#1160 Add special.system for JDK21+ mac64 and reset variables inside the parallel job
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk24_pipeline_config.groovy
Labels: mac, jenkins-pipeline

#1157 Prevent multiple Windows exe/dll signing and verify
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/common/verify_signing.groovy
Labels: testing, windows, x64, jenkins-pipeline

#1161 Add jdk25 pipeline configurations
  pipelines/jobs/configurations/jdk25.groovy
  pipelines/jobs/configurations/jdk25_evaluation.groovy
  pipelines/jobs/configurations/jdk25_pipeline_config.groovy
  pipelines/jobs/configurations/jdk25_release.groovy
Labels: jenkins-pipeline

#1162 Prevent build_job_generator regeneration from blowing up if no targetConfigurations
  pipelines/build/regeneration/build_job_generator.groovy
Labels: generation, jenkins-pipeline

#1163 Update daily Slack status to handle multiple head repo versions jdk24 and jdk25
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools

#1164 Slack daily build status does not report latest in-progress build correctly
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing

#1166 x86 Redist API-MS-Win DLLs not being skipped during Eclipse signing
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1167 Windows docker build ensure cleanWorkspace cleans build tmp workspace
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: docker, aarch, testing, windows, x64, jenkins-pipeline

#1168 Upgraded Windows VS2022 Redist configuration to use latest vs2022_redist_14.40.33807_10.0.26100.1742
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk24_pipeline_config.groovy
  pipelines/jobs/configurations/jdk25_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#1170 switch windows builds to use docker image from azurecr
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk24_pipeline_config.groovy
  pipelines/jobs/configurations/jdk25_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: docker, mac, windows, jenkins-pipeline

#1171 switch `rhel6||centos6` labels for `sw.tool.glibc.2_12`
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk24_pipeline_config.groovy
  pipelines/jobs/configurations/jdk25_pipeline_config.groovy
Labels: testing, openj9, mac, jenkins-pipeline
