Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2024-03, with the labels that each got.

#948 Fix configureArgs for linux-riscv64 for jdk17u
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: jenkins-pipeline, linux, hotspot

#950 Limit xMac JDK22+ testing to MacOS v11+
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#947 Update linux-riscv64 jdk11u pipeline to temurin
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_evaluation.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: cross-compile, jenkins-pipeline, linux

#953 Remove sanity.external from 22+
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#956 Set dev.system test_dir and remove docker label for dev.system
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, testing, jenkins-pipeline

#961 risv64 - promote to release platform
  pipelines/jobs/configurations/jdk21u.groovy
  pipelines/jobs/configurations/jdk21u_evaluation.groovy
  pipelines/jobs/configurations/jdk21u_release.groovy
Labels: cross-compile, jenkins-pipeline

#960 Always clean workspace after a prtester job
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: testing, jenkins-pipeline

#962 Fix Signverify Job - Change WindowsKitPath to find latest signtool rather than earliest/first
  pipelines/build/common/verify_signing.groovy
Labels: arm, testing, jenkins-pipeline

#963 Add archive filename mapping for riscv64 daily status
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, cross-compile

#964 Prevent Mac sign verification from running on old OS versions
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#479 Typo fixes in prTester readme file
  pipelines/build/prTester/README.md
Labels: documentation, testing, jenkins-pipeline

#965 Allow = in docker args
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, jenkins-pipeline

#967 Resolve testenv.properties "-ga" tags to the actual openjdk build tag for scm_ref check
  pipelines/build/openjdk_pipeline.groovy
Labels: testing, jenkins-pipeline

#968 Resolve testenv.properties "-ga" tags to the actual openjdk build tag for scm_ref check (#967)
  pipelines/build/openjdk_pipeline.groovy
Labels: testing, jenkins-pipeline

#972 Define releaseSummary for publish and release
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#973 <release v2024.03.01>- Define releaseSummary for publish and release (#972)
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#978 Remove master from code-freeze and fix release branch regex
  .github/workflows/code-freeze.yml
Labels: ghActions

#979 Remove master from code-freeze and fix release branch regex (#978)
  .github/workflows/code-freeze.yml
Labels: ghActions

#955 Enabling a new DevKit build job and support use within pipeline configuration
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/devkit/Tools.gmk.patch
  pipelines/build/devkit/binutils-2.39.patch
  pipelines/build/devkit/build_devkit.groovy
  pipelines/build/devkit/make_devkit.sh
Labels: aarch, documentation, x64, jenkins-pipeline, linux, reproducible-build

#982 OpenJ9: Don't version the cuda install folder
  pipelines/build/dockerFiles/cuda.dockerfile
Labels: docker, installer, jenkins-pipeline
