Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2024-05, with the labels that each got.

#1023 don't skip docker SHA collection on RHEL containers
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, jenkins-pipeline

#1025 don't pass node label to windows installer job
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: windows, installer, jenkins-pipeline

#1024 add riscv64 to JDK17 release pipeline
  pipelines/jobs/configurations/jdk17u_release.groovy
Labels: testing, cross-compile, jenkins-pipeline

#1027 Add archive taps as a single jar file
  pipelines/build/common/build_base_file.groovy
Labels: testing, jenkins-pipeline

#1014 Perform a "bootstrap" DevKit build to ensure final DevKit dependencies are built with identical gcc
  pipelines/build/devkit/make_devkit.sh
Labels: jenkins-pipeline

#1029 Fix codefreeze to check PR target branch correctly
  .github/workflows/code-freeze.yml
Labels: ghActions

#1031 Add special.system for jdk21+ linux-x64 weekly
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
Labels: x64, jenkins-pipeline, linux

#1030 Ensure any old openjdk build directory is removed before building
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1034 Add new github action to perform semgrep differential scanning.
  .github/workflows/semgrep_diff.yml
Labels: ghActions

#1035 Extend release period no nightly testing to week previous Saturday
  pipelines/build/common/trigger_beta_build.groovy
Labels: testing, jenkins-pipeline

#1037 Enable time based parallel
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1038 Update weekly test lists for reproducible compare test
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#1033 Archive all taps after parallel run
  pipelines/build/common/build_base_file.groovy
Labels: testing, jenkins-pipeline

#1021 Added JMH to be also built by code-tools
  tools/code-tools/Jenkinsfile
  tools/code-tools/jmh.sh
Labels: testing

#1040 Revert "Archive all taps after parallel run"
  pipelines/build/common/build_base_file.groovy
Labels: aix, testing, windows, x64, jenkins-pipeline
