Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2024-11, with the labels that each got.

#1133 Adding platforms to reproducibility healthcheck
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing

#1048 Update top level README.md so it is more consumable for new users
  README.md
  pipelines/jobs/configurations/README.md
Labels: aarch, documentation, generation, jenkins-pipeline, linux

#1117 Refactor signing/assemble code in openjdk_build_pipeline.groovy to support Windows/docker builds
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, code-tools, arm, testing, generation, mac, windows, jenkins-pipeline

#1136 Running Temurin mac x64 reproducible comparing on aarch64 mac
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: aarch, mac, x64, jenkins-pipeline

#1137 Skip internal signing phase unless on windows/mac
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: buildbreak, testing, mac, windows, jenkins-pipeline

#1134 Add release Tap collection and upload url
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#1138 Auto gen remote temurin compliance test jobs for ea builds
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#1139 Fix mac signing: Stash all files again but with exclusions
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: aarch, mac, jenkins-pipeline

#1140 Do not archive before assembly phase when internal signing (Fixes cross-compile situation)
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: buildbreak, aarch, windows, cross-compile, jenkins-pipeline

#1147 Pull cuda image from NVCR and change to ubi8 base
  pipelines/build/dockerFiles/cuda.dockerfile
Labels: docker, openj9, jenkins-pipeline

#1146 Platform-specific reproducibility healthcheck
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing

#1150 Improve build pipeline summary publish link text with build failure warning
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#1151 Set all Temurin windows pipelines to use vs2022 label as that is what they are configured to run with
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: docker, mac, windows, jenkins-pipeline
