Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2024-01, with the labels that each got.

#874 Align linux-riscv64 evaluation pipelines on jdk17u, jdk21u and jdk{latest} only
  pipelines/jobs/configurations/jdk17u_evaluation.groovy
  pipelines/jobs/configurations/jdk20u_evaluation.groovy
  pipelines/jobs/configurations/jdk21u_evaluation.groovy
  pipelines/jobs/configurations/jdk22_evaluation.groovy
Labels: testing, jenkins-pipeline, linux

#873 Sanitise parameters
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
Labels: gradle, docker, arm, openj9, jenkins-pipeline, hotspot, bisheng

#878 Re-add wildcard lost from AQA branch regex
  pipelines/build/openjdk_pipeline.groovy
Labels: testing, jenkins-pipeline

#871 Fix Groovy failing build and update dependencies within major versions
  pipelines/build.gradle
  pipelines/gradle/wrapper/gradle-wrapper.properties
Labels: gradle, jenkins-pipeline

#879 Add rerunIterations
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#881 Allow : in build docker image name
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, cross-compile, jenkins-pipeline

#884 Correct RERUN_ITERATIONS param (#882)
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#886 [v2024.01.01] Change test to default in JDK11u x64 Linux build config
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: testing, x64, jenkins-pipeline, linux

#883 Ensure test jobs are regenerated weekly
  pipelines/build/common/weekly_release_pipeline.groovy
Labels: testing, generation, jenkins-pipeline

#888 Fix missing wildcard in os/arch/variant pattern match
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#885 Remove arm32Linux from jdk21+ pipeline configurations
  pipelines/jobs/configurations/jdk21u.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_release.groovy
  pipelines/jobs/configurations/jdk22.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
Labels: arm, jenkins-pipeline

#890 Remove arm32Linux from jdk21+ pipeline configurations
  pipelines/jobs/configurations/jdk21u.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_release.groovy
  pipelines/jobs/configurations/jdk22.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
Labels: arm, jenkins-pipeline

#893 Escape '-' literals in patterns
  pipelines/build/common/build_base_file.groovy
  pipelines/build/openjdk_pipeline.groovy
Labels: jenkins-pipeline

#892 Disable nightly testing during Jan 2024 Release
  pipelines/defaults.json
Labels: testing, jenkins-pipeline

#891 Escape '-' literals in patterns
  pipelines/build/common/build_base_file.groovy
  pipelines/build/openjdk_pipeline.groovy
Labels: jenkins-pipeline

#898 Revert "Disable nightly testing during Jan 2024 Release"
  pipelines/defaults.json
Labels: testing, jenkins-pipeline

#896 Update test list logic
  pipelines/build/common/build_base_file.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: testing, x64, jenkins-pipeline, linux

#899 Enable arm32/win32 hotspot variant builds
  pipelines/jobs/configurations/jdk23.groovy
Labels: arm, jenkins-pipeline, hotspot

#907 Typo weekly -> Weekly
  pipelines/build/common/weekly_release_pipeline.groovy
Labels: testing, jenkins-pipeline
