Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2024-09, with the labels that each got.

#1093 Disable the reproduce_compare jobs now aqa-test Rebuild_Same_JDK_Reproducibility_Test_0 running
  pipelines/build/common/build_base_file.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#1106 Add jdk23 build pipeline generation
  pipelines/build/regeneration/release_pipeline_generator.groovy
Labels: generation, jenkins-pipeline

#1107 Add jdk23 build pipeline generation
  pipelines/build/regeneration/release_pipeline_generator.groovy
Labels: generation, jenkins-pipeline

#1109 Update release build pipeline tag check to support jdk23+ version branches
  pipelines/build/openjdk_pipeline.groovy
Labels: jenkins-pipeline

#1110 Cherry pick version branch ga tag check into release branch
  pipelines/build/openjdk_pipeline.groovy
Labels: generation, jenkins-pipeline

#1111 Set JCK_GIT_REPO on Temurin remote jck trigger
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1115 enable reproducible compare tests on ppc64le and aarch64
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
  pipelines/jobs/configurations/jdk24_pipeline_config.groovy
Labels: aarch, testing, ppc64le, jenkins-pipeline
