Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2024-08, with the labels that each got.

#1087 Re-order build pipeline build stages prior to AQA-tests
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, x64, jenkins-pipeline, linux

#1090 Update DevKit Tools.gmk.patch to use Centos7 vault
  pipelines/build/devkit/Tools.gmk.patch
Labels: jenkins-pipeline

#1099 Windows docker fixes/workarounds
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, jenkins-pipeline
