Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2024-07, with the labels that each got.

#1067 add `--init` to docker run commands in builds to prevent excessive resource consumption
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, aarch, cross-compile, jenkins-pipeline, linux

#1071 Fix up pipeline stage result setting and exception handling
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, x64, jenkins-pipeline

#1065 Enable SBOM strace for all Linux platforms
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
  pipelines/jobs/configurations/jdk24_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: aarch, arm, cross-compile, jenkins-pipeline

#1077 Run remote trigger for risc-v platform
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1069 Use JDKxu config over JDKx config wherever possible
  pipelines/build/openjdk_pipeline.groovy
Labels: jenkins-pipeline

#1075 Fix permissions for semgrep_diff
  .github/workflows/semgrep_diff.yml
Labels: ghActions

#1079 revert sbom-strace on jdk11u/arm32
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: arm, jenkins-pipeline, linux

#1076 avoids image name error when pulling from non-default registery
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, jenkins-pipeline

#1080 [v2024.07.01] Disable strace for arm32 jdk11
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: arm, jenkins-pipeline

#1081 Daily slack status ignore branch point tags +0, -b00
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools

#1083 Move dockerRegistry tag patch into with dockerRegistry section to avoid build break with image tags
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: docker, jenkins-pipeline

#1084 Remove use of --user-openjdk-build-root-directory now JDK-8326685 backported
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1085 Now jdk-22.0.2 is GA and version is STS, we can disable the build pipeline
  pipelines/jobs/configurations/jdk22u.groovy
Labels: jenkins-pipeline
