Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2024-02, with the labels that each got.

#910 Moving prepare stage to node 'worker' instead of 'Linux/x64'
  tools/reproduce_comparison/Jenkinsfile
Labels: x64, linux

#913 Add linux-riscv64 jdk11u hotspot pipeline
  pipelines/jobs/configurations/jdk11u_evaluation.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: jenkins-pipeline, linux, hotspot

#914 Tagbuilds
  README.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/trigger_beta_build.groovy
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_evaluation.groovy
  pipelines/jobs/configurations/jdk17u.groovy
  pipelines/jobs/configurations/jdk17u_evaluation.groovy
  pipelines/jobs/configurations/jdk21u.groovy
  pipelines/jobs/configurations/jdk21u_evaluation.groovy
  pipelines/jobs/configurations/jdk22.groovy
  pipelines/jobs/configurations/jdk22_evaluation.groovy
  pipelines/jobs/configurations/jdk23.groovy
  pipelines/jobs/configurations/jdk23_evaluation.groovy
  pipelines/jobs/configurations/jdk8u.groovy
  pipelines/jobs/configurations/jdk8u_evaluation.groovy
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, documentation, jenkins-pipeline

#918 Correct daily build status Slack check for jdk8u latest upstream build tag
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing

#920 Make sure betaTrigger job does not lock worker node
  pipelines/build/common/trigger_beta_build.groovy
Labels: jenkins-pipeline

#921 Allow for . in beta binaries status check of archive EA filename
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing

#923 Trigger the release dry run right after each jdk build is done
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#915 Extending test timeout on slow platforms
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, mac, jenkins-pipeline

#927 Do not exclude jck tests for Headless platform as no auto-manuals
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#929 Update weekly test list
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/defaults.json
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: testing, x64, jenkins-pipeline

#930 Dont build jdk8u mac openj9 in our triggered builds as no macos10.14 nodes
  pipelines/jobs/configurations/jdk8u.groovy
Labels: openj9, mac, jenkins-pipeline

#931 postBuild plugin manager only available in postBuild groovy
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#933 Improves daily Slack build pipeline status when new upstream tags are published
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing

#934 Ensure beta EA builds triggered during release periods do not enable Testing
  pipelines/build/common/trigger_beta_build.groovy
Labels: jenkins-pipeline

#935 Update daily slack build status with "in progress build URL" where applicable
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools

#932 Update publishBinary()
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#938 Weekly testlist fixes
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: testing, jenkins-pipeline

#941 Regen all test jobs for beta trigger builds
  pipelines/build/common/trigger_beta_build.groovy
Labels: testing, jenkins-pipeline

#940 Correct force evaluation override and make BINARIES_REPO param more intuitive!
  pipelines/build/common/trigger_beta_build.groovy
Labels: jenkins-pipeline

#908 Set system.dev with additional label and vendors info
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#943 reproduce_compare needs longer than 2 hour time limit to do a Windows build
  tools/reproduce_comparison/Jenkinsfile
Labels: windows, x64

#942 Enable betaTrigger_8u(arm32Linux & x64AlpineLinux) job triggering from the fork mirrors and enable Slack status
  pipelines/build/common/trigger_beta_build.groovy
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, aarch, arm, testing, x64, jenkins-pipeline, linux, alpine-linux

#945 Default all test jobs to TIME_LIMIT 25 hours
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline
