Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2024-04, with the labels that each got.

#986 use podman with UID 1002, GID 1003 instead of 1000 for s390x
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, mac, s390x, jenkins-pipeline

#984 Enable Temurin build of x64/ppc64le/aarch64/s390x Linux for jdk-21+ using Adoptium gcc 11.3.0 DevKit
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
Labels: aarch, testing, x64, ppc64le, jenkins-pipeline

#983 avoid sign_temurin_gpg in non-adopt pipelines
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#990 JENKINS_URL missing context prefix
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#991 fix GH token permissions
  .github/workflows/dependabot-auto-merge.yml
Labels: ghActions

#992 Replace RISC-V qemu build machine label with 'qemustatic'
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
Labels: docker, x64, jenkins-pipeline

#993 add jdk22u build pipelines
  pipelines/jobs/configurations/jdk22u.groovy
  pipelines/jobs/configurations/jdk22u_evaluation.groovy
  pipelines/jobs/configurations/jdk22u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22u_release.groovy
Labels: jenkins-pipeline

#989 Changes to allow building a devkit using podman on a RHEL8 host
  pipelines/build/devkit/build_devkit.groovy
  pipelines/build/devkit/make_devkit.sh
Labels: docker, jenkins-pipeline

#1000 TOB6: Security Fix ; Include Checksum Validation Of Dragonwell JDK Download.
  pipelines/build/dockerFiles/dragonwell.dockerfile
Labels: docker, aarch, x64, jenkins-pipeline

#1001 Correct missing openjdkbuild dir location for windows/mac signing (#998)
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: mac, windows, jenkins-pipeline

#1002 Remove win32 for release pipelines - will trigger manually
  pipelines/jobs/configurations/jdk11u_release.groovy
  pipelines/jobs/configurations/jdk17u_release.groovy
  pipelines/jobs/configurations/jdk8u_release.groovy
Labels: testing, mac, windows, jenkins-pipeline

#997 [master] Remove jdk22 pipelines as top level pipelines prefer these to 22u
  pipelines/jobs/configurations/jdk22.groovy
  pipelines/jobs/configurations/jdk22_evaluation.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_release.groovy
Labels: jenkins-pipeline

#1004 Remove Linux/s390x from jdk22u pipelines to float patch
  pipelines/jobs/configurations/jdk22u_release.groovy
Labels: s390x, jenkins-pipeline

#1006 [v2024.04+1] Prevent jdk20+ linux jobs from running on rhel or centos 6 machines
  pipelines/jobs/configurations/jdk20u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
Labels: mac, jenkins-pipeline, linux

#1005 Prevent jdk20+ linux jobs from running on rhel or centos 6 machines
  pipelines/jobs/configurations/jdk20u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
Labels: mac, jenkins-pipeline, linux

#1003 Fix daily Slack status
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, aarch, testing

#1013 Update to compare against original scmReference with _adopt suffix
  pipelines/build/openjdk_pipeline.groovy
Labels: jenkins-pipeline

#1010 Update daily EA build Slack status to handle when GA builds are published
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing

#988 Support special.system and dev.system tests in temurin-build
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#1009 Schedule jdk11u evaluation weekly build of HEAD as riscv64Linux is not tagged regularly
  pipelines/jobs/configurations/jdk11u_evaluation.groovy
Labels: aarch, windows, cross-compile, jenkins-pipeline
