Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2024-06, with the labels that each got.

#1041 Archive all taps after parallel run
  pipelines/build/common/build_base_file.groovy
Labels: testing, jenkins-pipeline

#1020 Now building also jcstress-tests-all-20240222.jar 20220908.jar
  tools/code-tools/jcstress.sh
Labels: testing

#1043 Update DevKit build "bootstrap" to ensure all tooling comes from bootstrap
  pipelines/build/devkit/make_devkit.sh
Labels: jenkins-pipeline, reproducible-build, secure-dev

#1045 Switch JDK22+ on AIX to use OpenXL17-compatible labels
  pipelines/jobs/configurations/jdk22u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
Labels: aix, testing, mac, jenkins-pipeline

#1051 Also build jtreg version 7.4+1
  tools/code-tools/jtreg.sh
Labels: testing, openj9

#1052 Save DevKit downloaded rpms from bootstrap build to save download in final build
  .github/workflows/linter.yml
  pipelines/build/devkit/make_devkit.sh
Labels: ghActions, jenkins-pipeline

#1053 Update runAQATests JDK repo & branch for jdk23+ version branching
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1054 Correct by platform archive AQAvitTapFiles.tar.gz location
  pipelines/build/common/build_base_file.groovy
Labels: x64, jenkins-pipeline, linux

#1056 Update jdk-21+ to latest bootstrapped DevKit build b03
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
  pipelines/jobs/configurations/jdk24_pipeline_config.groovy
Labels: aarch, testing, x64, jenkins-pipeline

#1058 Remove duplicate code
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#1060 Make 'Nightly Without Publish' the default choice for openjdkNN-pipeline jobs to avoid accidental publishing
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/build/regeneration/evaluation_pipeline_generator.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/jobs/weekly_release_pipeline_job_template.groovy
Labels: testing, generation, jenkins-pipeline
