Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2025-01, with the labels that each got.

#1131 Add SBOM jsf signing to openjdk_build_pipeline.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1173 Update release tuesday calculation to be 3rd teusday of month
  pipelines/build/common/trigger_beta_build.groovy
Labels: testing, jenkins-pipeline

#1175 Run the GPG sign job after the SBOM sign
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1176 Correct publish job url
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools

#1174 Ensure post build clean occurs for non-mac&win platforms
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: mac, jenkins-pipeline

#1178 Enable RERUN_FAILURE for AQA test builds
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#1180 (v2025.01.01) RERUN_FAILURE for AQA test builds (#1178)
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, jenkins-pipeline

#1169 Special case jdk8u Solaris beta trigger
  pipelines/build/common/trigger_beta_build.groovy
Labels: jenkins-pipeline
