Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2025-02, with the labels that each got.

#1182 Update Daily Slack EA status to report published EA Test job failure & testcase stats
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing

#1183 Correct EA build status in daily Slack build status when recent builds are GA ones
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, aarch, testing

#1184 Update trigger_beta_build.groovy for Solaris to pass ENABLE_TESTS and DRY_RUN
  pipelines/build/common/trigger_beta_build.groovy
Labels: solaris, arm, jenkins-pipeline

#1185 Explicitly set RERUN_FAILUE and RERUN_ITERATION params
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1187 Removing jdk23 from pipeline generator
  pipelines/build/openjdk_pipeline.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/build/regeneration/release_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk11u_evaluation.groovy
  pipelines/jobs/configurations/jdk15u.groovy
  pipelines/jobs/configurations/jdk16u.groovy
  pipelines/jobs/configurations/jdk18u.groovy
  pipelines/jobs/configurations/jdk19u.groovy
  pipelines/jobs/configurations/jdk19u_evaluation.groovy
  pipelines/jobs/configurations/jdk20u.groovy
  pipelines/jobs/configurations/jdk20u_evaluation.groovy
  pipelines/jobs/configurations/jdk22u.groovy
  pipelines/jobs/configurations/jdk23u.groovy
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, generation, jenkins-pipeline
