Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2025-08, with the labels that each got.

#1250 Improve healthcheck whitespace
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools, testing

#1257 Retiring jdk24
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/build/regeneration/release_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk24u.groovy
Labels: generation, jenkins-pipeline

#1263 use GCC 14 devkit for JDK25+
  pipelines/jobs/configurations/jdk25_pipeline_config.groovy
  pipelines/jobs/configurations/jdk26_pipeline_config.groovy
Labels: cross-compile, jenkins-pipeline

#1260 Place all waiting for targets in waitForXStatus into one stage
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: x64, jenkins-pipeline, linux
