Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2025-07, with the labels that each got.

#1237 Fix headless and win64 dev.jck trigger
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1239 Accommodate suffixes in aarch64 windows openjdk-build dir name
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: aarch, windows, jenkins-pipeline

#1238 Retry logic for Test_Job_Auto_Gen
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: testing, windows, x64, jenkins-pipeline

#1244 [v2025.07.01] - Set aqaAutoGen default true (#1242)
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: jenkins-pipeline

#1246 Fix typo causing dev.jck remote trigger to fail on Windows
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: aarch, arm, windows, x64, jenkins-pipeline
