Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2025-04, with the labels that each got.

#1211 Do dont query remote triggered job status if anything wrong
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1208 Fix Windows sha256 retrieval
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: generation, windows, x64, jenkins-pipeline, hotspot

#1212 Correct default release value for Taps release
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#1213 Add jdk24u pipeline config
  pipelines/jobs/configurations/jdk24u.groovy
  pipelines/jobs/configurations/jdk24u_evaluation.groovy
  pipelines/jobs/configurations/jdk24u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk24u_release.groovy
Labels: jenkins-pipeline

#1216 updateBuildStatus before query the status
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1218 Apr 2025 cherry picks
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1219 Remove Solaris For April Release
  pipelines/jobs/configurations/jdk8u_release.groovy
Labels: solaris, jenkins-pipeline

#1221 Add jdk24u weekly build schedule
  pipelines/jobs/configurations/jdk24u.groovy
Labels: jenkins-pipeline
