Repository adoptium/ci-jenkins-pipelines, pull requests merged in 2025-05, with the labels that each got.

#1222 Differentiate weekly and release remote trigger displayname
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1220 Add support for 'jmods' images checking
  tools/nightly_build_and_test_stats.groovy
Labels: code-tools

#1224 Fix metadata for jmods archives
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#1227 use GCC14/Fedora 28 devkit for riscv64 JDK25 builds
  pipelines/jobs/configurations/jdk25_pipeline_config.groovy
Labels: testing, jenkins-pipeline
